*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana;
  color: antiquewhite;
}
body{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 35, 35);
  margin:50px auto;
  text-align:center;
}
h1{
  text-align: center;
  font-size:60px;
  margin:20px;
  color:orange;
  font-family:verdna
}
h2{
  margin:10px;
}
input{
  width:300px;
  height:30px;
  border: 1px solid white;
  border-top:none;
  border-left:none;
  border-right:none;
  background-color: rgb(37, 35, 35);
  color:white;
  text-align:center;
}
button{
  cursor:pointer;
  width:250px;
  height:40px;
  margin:10px;
  border-radius: 5px;
  border:none;
  color:black;
  background-color:yellow;
  font-size:15px;
  font-weight:bold;
}